# Carpetas virtualenv
backend/venv/
frontend/node_modules/
.venv/

# Caché y compilados
__pycache__/
*.py[cod]
*.log

# Archivos del sistema y del editor
.DS_Store
Thumbs.db
.vscode/

# Bases de datos locales
*.sqlite3
*.db

# Variables de entorno
.env
*.env

# pyenv
.python-version
.pyenv/
